global
    maxconn 16384
    nbthread 1

defaults
    mode http
    timeout connect 200ms
    timeout client  3s
    timeout server  3s
    option http-keep-alive
    no log

frontend fe
    bind *:9999
    default_backend be

backend be
    balance roundrobin
    http-reuse always
    server api1 api-1:8080
    server api2 api-2:8080
