global
    maxconn 8192
    nbthread 1
    log stdout format raw local0 notice

defaults
    mode http
    timeout connect 1s
    timeout client  5s
    timeout server  5s
    option http-keep-alive
    option forwardfor
    no log

frontend fe
    bind *:9999
    default_backend be

backend be
    balance roundrobin
    option redispatch
    retries 1
    http-reuse always
    server api1 api-1:8080 check inter 5s fall 2 rise 1
    server api2 api-2:8080 check inter 5s fall 2 rise 1
